### Lesson 3
Списки и множества

In [64]:
student_1 = 'Anatoly'
student_2 = 'Ivan'
student_3 = 'Fedor'

student_4 = 'Beslan'
student_5 = 'Ivan'
student_6 = 'Oksana'

In [65]:
python_students = [student_1, student_2, student_3]

In [66]:
sql_students = [student_4, student_5, student_6]

In [67]:
# my_list = [1, 2, 3, 'hi', True]

In [68]:
python_students

['Anatoly', 'Ivan', 'Fedor']

In [69]:
sql_students

['Beslan', 'Ivan', 'Oksana']

In [70]:
python_students[2]

'Fedor'

In [71]:
python_students[0:2]

['Anatoly', 'Ivan']

In [72]:
# [0, 3) - from math

In [73]:
# 0, 1, 2
python_students[0:3]

['Anatoly', 'Ivan', 'Fedor']

In [74]:
python_students[1:]

['Ivan', 'Fedor']

In [75]:
# [0, 10)
python_students[0:10]

['Anatoly', 'Ivan', 'Fedor']

In [76]:
# одна переменная является индексом для другой переменной, которая является списком
my_index = 1
python_students[my_index]

'Ivan'

In [77]:
start_i = 0
end_i = 2

In [78]:
python_students[start_i: end_i]

['Anatoly', 'Ivan']

In [79]:
# берем элемент с конца списка
python_students[-1]

'Fedor'

In [80]:
# range - функция, которая получает на вход числа и создает нам последовательность.
my_list = list(range(5))
my_list

[0, 1, 2, 3, 4]

In [81]:
[1, 2]

[1, 2]

In [82]:
list([1, 2])

[1, 2]

In [83]:
my_list = list(range(0, 50))

In [84]:
my_list[15]

15

In [85]:
my_list = list(range(50, 150))

In [86]:
# 1 параметр - задает старт, 2 параметр - задает конец
my_list[10:20]

[60, 61, 62, 63, 64, 65, 66, 67, 68, 69]

In [87]:
# 3 параметр - шаг
my_list[0:10:2]

[50, 52, 54, 56, 58]

In [88]:
my_list[0:10:4]

[50, 54, 58]

In [89]:
my_list[8]

58

In [90]:
my_list[0:10:-1]

[]

In [91]:
# старт с 10 индекса, конец - 0 индекс, идем с шагом -1 (с конца в начало)
# [10, 0)
my_list[10:0:-1]

[60, 59, 58, 57, 56, 55, 54, 53, 52, 51]

In [92]:
# получаем развернутый с конца в начало список
my_list[::-1]

[149,
 148,
 147,
 146,
 145,
 144,
 143,
 142,
 141,
 140,
 139,
 138,
 137,
 136,
 135,
 134,
 133,
 132,
 131,
 130,
 129,
 128,
 127,
 126,
 125,
 124,
 123,
 122,
 121,
 120,
 119,
 118,
 117,
 116,
 115,
 114,
 113,
 112,
 111,
 110,
 109,
 108,
 107,
 106,
 105,
 104,
 103,
 102,
 101,
 100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50]

### Методы работы со списками (list)
встроенные методы

In [93]:
# Добавляет в конец нашего списка новый элемент
python_students.append('Masha')
python_students

['Anatoly', 'Ivan', 'Fedor', 'Masha']

In [94]:
# позволяет объединять несколько списков в один. Добавляет в конец списка
python_students.extend(['Igor', 'Daniil'])
python_students

['Anatoly', 'Ivan', 'Fedor', 'Masha', 'Igor', 'Daniil']

In [109]:
python_students.extend(sql_students)
python_students

[['Vera', 'Ignat'],
 'Vera',
 'Anatoly',
 'Ivan',
 'Fedor',
 'Masha',
 'Igor',
 'Daniil',
 'Beslan',
 'Ivan',
 'Oksana',
 'Beslan',
 'Beslan',
 'Ivan',
 'Oksana']

In [105]:
# метод принимает 2 аргумента и вставляет значение в указанное место (в данном случае в начаало нашего списка)
python_students.insert(0, 'Vera')

In [107]:
# Можно вставлять списки
python_students.insert(0, ['Vera', 'Ignat'])

In [114]:
# Позволяет удалять элементы из списка
# не только удаляет, но и выводит удаленный элемент на печать
python_students.pop(0)

['Vera', 'Ignat']

In [115]:
# Позволяет удалять элемент по названию. Удаляет именно первое вхождение элемента (!) 
python_students.remove('Ivan')

In [116]:
python_students

['Vera',
 'Anatoly',
 'Fedor',
 'Masha',
 'Igor',
 'Daniil',
 'Beslan',
 'Ivan',
 'Oksana']

### Работа с множествами (set)
встроенные методы

In [117]:
# 1-й формат записи
my_set = {1, 1, 2, 3}

In [120]:
# Попало только 3 элемента, так как можно хранить только уникальные элементы (!)
my_set

{1, 2, 3}

In [118]:
# 2-й формат записи
students_set = set(python_students)

In [119]:
# Тоже хранятся только уникальные элементы (!)
# Вывод со скобочками {} дополнительно дает понять что мы работаем с множеством
students_set

{'Anatoly',
 'Beslan',
 'Daniil',
 'Fedor',
 'Igor',
 'Ivan',
 'Masha',
 'Oksana',
 'Vera'}

#### Множество - не упорядоченный тип данных. Нельзя обращаться по индексам (!)
#### Обеспечивает уникальность (!)
#### Множество - изменяемый тип данных, так же как и список

In [122]:
[1, 1, 2]

[1, 1, 2]

In [123]:
{1, 1, 2}

{1, 2}

In [128]:
python_students_set = set(python_students)

In [129]:
python_students_set

{'Anatoly',
 'Beslan',
 'Daniil',
 'Fedor',
 'Igor',
 'Ivan',
 'Masha',
 'Oksana',
 'Vera'}

In [130]:
sql_students_set = set(sql_students)

In [131]:
sql_students_set

{'Beslan', 'Ivan', 'Oksana'}

In [132]:
# С помощью данного метода получаем различия между 2-мя множествами
python_students_set.difference(sql_students_set)

{'Anatoly', 'Daniil', 'Fedor', 'Igor', 'Masha', 'Vera'}

In [133]:
# Данный метод решает обратную задачу, получаем элементы, которые есть в обоих множествах
# в нашем случае одно множество полностью входит в другое
python_students_set.intersection(sql_students_set)

{'Beslan', 'Ivan', 'Oksana'}

In [134]:
# метод add - добавляет новый элемент в множество
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)  # выведет {'banana', 'cherry', 'orange', 'apple'}

{'orange', 'cherry', 'banana', 'apple'}

In [135]:
# union() — объединяет два множества
a = {1, 2, 3}
b = {3, 4, 5}

c = a.union(b)
print(c)  # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [136]:
# clear() — удаляет все элементы из множества.
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)  # выведет set()

set()

In [137]:
# copy() — создает копию множества.
fruits = {"apple", "banana", "cherry"}
new_fruits = fruits.copy()
print(new_fruits)  # выведет {'banana', 'cherry', 'apple'}

{'cherry', 'banana', 'apple'}

In [138]:
# difference() — возвращает разность между двумя множествами.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
diff_set1_set2 = set1.difference(set2)
print(diff_set1_set2)  # выведет {1, 2, 3}

{1, 2, 3}

In [139]:
# discard(element) — удаляет элемент из множества, если он присутствует. Если элемент отсутствует, то никаких ошибок не возникает. Просто ничего не происходит.
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)  # выведет {'cherry', 'apple'}

fruits = {"apple", "banana", "cherry"}
fruits.discard("aaaaaaaa")
print(fruits)  # выведет {'cherry', 'banana', 'apple'}

{'cherry', 'apple'}
{'cherry', 'banana', 'apple'}

In [141]:
# remove(element) - Этот метод удаляет элемент из множества, если он присутствует. Если элемент отсутствует, то вызывается ошибка KeyError. 
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)  # Output: {1, 3}
#  # Вызовет ошибку KeyError, так как элемент 5 отсутствует

{1, 3}

In [142]:
# intersection() — возвращает пересечение двух множеств.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_set = set1.intersection(set2)
print(intersection_set)  # выведет {4, 5}

{4, 5}

In [143]:
# isdisjoint() — возвращает True, если два множества не имеют общих элементов.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
disjoint_sets = set1.isdisjoint(set2)
print(disjoint_sets)  # выведет True

True

In [144]:
# issubset() — возвращает True, если одно множество является подмножеством друг
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

result = set2.issubset(set1)
print(result) # выведет True

True