### Задача 1
В my_list сохранен список как минимум с двумя элементами.

В переменную first_item сохраните первый элемент списка.

В переменную last_item сохраните последний элемент списка.

В переменную reversed_list сохраните все элементы списка my_list в обратном порядке.

В переменную even_items сохраните все элементы my_list с четными индексами.

In [1]:
my_list = ['Anatoly', 'Fedor', 1, 2, 3]

# first_item = 'Anatoly'
# last_item = 3
# reversed_my_list = [3, 2, 1, 'Fedor', 'Anatoly']
# even_items = ['Anatoly', 1, 3]

first_item = my_list[0]
last_item = my_list[-1]
reversed_list = my_list[::-1]
even_items = my_list[0:10:2]

In [2]:
first_item

'Anatoly'

In [3]:
last_item

3

In [4]:
reversed_list

[3, 2, 1, 'Fedor', 'Anatoly']

In [5]:
even_items

['Anatoly', 1, 3]

### Задача 2
Задание:

В переменную var_1 сохраните список с числами от -100 до 100 включительно с шагом в 1.

В переменную var_2 сохраните список с числами от 250 до 0 включительно с шагом в 2.

В переменную var_3 сохраните список со всеми нечетными числами от 100 до 200.

In [6]:
# от 0 до 4 с шагом 1
# > list(range(5)) 
# [0, 1, 2, 3, 4]

# от 2 до 9 с шагом 2
# > list(range(2, 10, 2)) 
# [2, 4, 6, 8]

# от 10 до 2 с шагом 1
# list(range(10, 1, -1))
# [10, 9, 8, 7, 6, 5, 4, 3, 2]

var_1 = list(range(-100,101,1))
var_2 = list(range(250,-2,-2))
var_3 = list(range(101,200,2))

In [7]:
var_3

[101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 195,
 197,
 199]

### Задача 3
В переменных  a и b хранятся числа — начало и конец диапазона. Напишите программу, которая вернет сумму всех чисел из этого диапазона. Сохраните значение в переменную result.

In [8]:
a = 1
b = 3 

# result = 6

result = sum(range(a, b + 1))

In [9]:
result

6

### Задача 4
Давайте потренируемся использовать различные методы списков. В переменной my_list сохранен не пустой список, в котором есть число 11. 

Найдите первый индекс числа 11 в my_list, сохраните индекс в переменную eleven_index.  

В переменную ten_count сохраните, сколько раз в списке my_list встречается число 10.

In [10]:
my_list = [1, 10, 0, 10, 11]
# eleven_index = 4
# ten_count = 2


# my_list = [11, 2, 0, 6]
# eleven_index = 0
# ten_count = 0

eleven_index = my_list.index(11)
ten_count = my_list.count(10)

In [11]:
eleven_index

4

In [12]:
ten_count

2

### Задача 5
В student_names сохранен список с именами студентов, добавьте в список два имени 'Anatoly' и 'Oksana'.

В scores сохранен список из десяти целых чисел, удалите из него второй, пятый и последний элемент.

В lessons сохранен список с названием уроков, отсортируйте названия уроков в списке по алфавиту.

In [13]:
student_names = ['Ian', 'Ivan']
scores = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lessons = ['Python', 'Analytics']

# ===>

# student_names = ['Ian', 'Ivan', 'Anatoly', 'Oksana']
# scores = [0, 2, 3, 5, 6, 7, 8, 9]
# lessons = ['Analytics', 'Python']

student_names.append('Anatoly')
student_names.append('Oksana')
scores.pop(1)
scores.pop(3)
scores.pop(-1)
lessons.sort()

In [14]:
student_names

['Ian', 'Ivan', 'Anatoly', 'Oksana']

In [15]:
scores

[0, 2, 3, 5, 6, 7, 8, 9]

In [16]:
lessons

['Analytics', 'Python']

### Задача 6
Создайте кортеж с названиями дней недели и сохраните его в переменную days_of_the_week.

In [17]:
# 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'

days_of_the_week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [18]:
days_of_the_week

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

### Задача 7 *
В переменной numbers_list сохранен список с целыми числами. В списке минимум два разных целых числа.

В переменную numbers_list_ordered сохраните все числа из списка numbers_list, отсортированные по убыванию. При этом сам список numbers_list не должен изменяться.

В переменную numbers_set сохраните множество из уникальных чисел из списка numbers_list. Дополните это множество следующим целым числом после максимального числа из numbers_list.

В переменную numbers_frozenset сохраните неизменяемое множество из всех уникальных чисел из списка numbers_list, кроме минимального числа.

In [19]:
# Пример 1

numbers_list = [-1, -5, 1, 1, -1, 4, 4, 2]
# numbers_frozenset = frozenset({1, 2, 4, -1})

# numbers_list = [1, 5, 3, 3, 5]
# numbers_list_ordered = [5, 5, 3, 3, 1]
# numbers_set = set([1, 3, 5, 6])
# numbers_frozenset = frozenset([3, 5])


# Пример 2
# numbers_list = [-1, 0, 1]

# numbers_list_ordered = [1, 0, -1]
# numbers_set = set([-1, 0, 1, 2])
# numbers_frozenset = frozenset([0, 1])


# Пример 3
# numbers_list [-1, -5, -1]

# numbers_list_ordered = [-1, -1, -5]
# numbers_set = set([-5, -1, 0])
# numbers_frozenset = frozenset([-1])
numbers_list2 = numbers_list.copy()
numbers_list_ordered = sorted(numbers_list2)
numbers_list_ordered.reverse()

numbers_set = set(numbers_list)
numbers_set.add(max(numbers_set) + 1)

numbers_frozenset = set(numbers_list)
numbers_frozenset.remove(min(numbers_list))
numbers_frozenset = frozenset(numbers_frozenset)

In [20]:
print(numbers_list_ordered)

[4, 4, 2, 1, 1, -1, -1, -5]

In [21]:
numbers_list2

[-1, -5, 1, 1, -1, 4, 4, 2]

In [22]:
numbers_list_ordered

[4, 4, 2, 1, 1, -1, -1, -5]

In [23]:
numbers_set

{-5, -1, 1, 2, 4, 5}

In [24]:
numbers_frozenset

frozenset({-1, 1, 2, 4})

### Задача 8
Даны два списка list_1 и list_2. Отсортируйте list_1 по возрастанию, а list_2 по убыванию. 
Объедините list_1 и list_2 в один отсортированный по возрастанию список list_3.  
В переменную list_3_len сохраните длину  list_3.

In [25]:
list_1 = [1, 5, 3]
list_2 = [2, 8]
# # -> 
# list_1 = [1, 3, 5]
# list_2 = [8, 2]
# list_3 = [1, 2, 3, 5, 8]
# list_3_len = 5
list_1.sort()
list_2.sort(reverse=True)
list_3 = list_1.copy()
list_3.extend(list_2)
list_3.sort()
list_3_len = len(list_3)

In [26]:
list_1

[1, 3, 5]

In [27]:
list_2

[8, 2]

In [28]:
list_3

[1, 2, 3, 5, 8]

In [29]:
list_3_len

5

### Задача 9
В переменной menu хранится множество всех позиций меню кофейни, а в переменной stop — множество позиций меню кофейни, недоступных для заказа сегодня. Сохраните в переменную menu_today позиции меню, которые доступны для заказа сегодня.

In [30]:
menu = {'White Chocolate Mocha', 'Americano', 'Flat White', 'Latte', 
        'Blueberry Muffin', 'Chocolate Chip Cookie'}
stop = {'White Chocolate Mocha', 'Blueberry Muffin'}

# menu_today = {'Americano', 'Flat White', 'Latte', 'Chocolate Chip Cookie'}

menu_today = menu.difference(stop)

In [31]:
menu_today

{'Americano', 'Chocolate Chip Cookie', 'Flat White', 'Latte'}

### Задача 10
В переменной my_set множество (set) из чисел. В переменной to_delete число, которое нужно удалить из my_set, если оно там есть. Если такого числа нет в my_set ничего делать не надо.

In [32]:
my_set = {0, 10, 100}
to_delete = 0
# ====>
# my_set = {10, 100} # удалили 0

# my_set = {0, 10, 100}
# to_delete = -2
# ====>
# my_set = {0, 10, 100} # ничего не сделали

my_set.discard(to_delete)

In [33]:
my_set

{10, 100}

### Задача 11
В students хранится множество студентов it-центра МАИ. Студент, имя которого записано в new_student, перевелся в МАИ из другого института, его имя нужно добавить в students. В переменной churn_student — студент, который хочет перевестись из МАИ в другой институт, его имя нужно убрать из students.

In [34]:
students = {'Кравченко Виталий', 'Полякова Ольга', 'Некрасов Игорь', 'Дудочкин Илья', 'Захарова Мария'}
new_student = 'Василенко Анна'
churn_student = 'Полякова Ольга'
# ->
# students = {'Кравченко Виталий', 'Некрасов Игорь', 'Дудочкин Илья', 'Захарова Мария', 'Василенко Анна'}

students.add(new_student)
students.discard(churn_student)

In [35]:
students

{'Василенко Анна',
 'Дудочкин Илья',
 'Захарова Мария',
 'Кравченко Виталий',
 'Некрасов Игорь'}

### Задача 12
В переменной da_students хранятся имена студентов курса "Аналитик данных", а в переменной dv_students — имена студентов курса "Визуализация данных". Сохраните в переменную students студентов, которые обучаются на обоих курсах.

Порядок элементов в students не имеет значения.

In [36]:
# студенты курса "Аналитик данных"
da_students = {'Ivanov Alexander', 'Loginov Vladislav', 'Ershova Anna', 'Korneva Daria'}
# студенты курса "Визуализация данных"
dv_students = {'Ershova Anna', 'Egunov Andrey', 'Ignatov Alexey', 'Loginov Vladislav'}

# результат
# students = {'Loginov Vladislav', 'Ershova Anna'}

students = da_students.intersection(dv_students)

# более короткая запись метода intersection
# students = da_students & dv_students

# а метод difference можно заменить на знак '-'
# da_students - dv_students

In [37]:
students

{'Ershova Anna', 'Loginov Vladislav'}

### Задача 13
В переменной a хранится список целых неотрицательных чисел. Количество чисел четное.
Напишите программу, которая будет делить этот список пополам, определять суммы чисел в половинах списка (sum_left и sum_right). Если sum_left равно sum_right, то сохраните в переменную result значение True,  в противном случае — False.

In [38]:
a = [1, 2, 4, 3]

# sum_left = 3
# sum_right = 7
# result = False
half = len(a) // 2
left_half = a[:half]
right_half = a[half:]

sum_left = sum(left_half)
sum_right = sum(right_half)

if sum_left == sum_right:
    result = True
else:
    result = False

In [39]:
sum_left

3

In [40]:
sum_right

7

In [41]:
result

False

### Задача 14
Даны список целых чисел a и число b. Удалите из a первое и последнее вхождение числа b.

In [42]:
a = [1, 2, 2, 1, 3, 2, 3]
b = 1 
# -> a = [2, 2, 3, 2, 3]

# a = [1, 2, 2, 1, 3, 2, 3]
# b = 2 
# -> a = [1, 2, 1, 3, 3]

a.remove(b)
a.reverse()
a.remove(b)
a.reverse()

In [43]:
a

[2, 2, 3, 2, 3]